* { border:0; margin:0;}

@font-face {
    font-family: 'uni_05_53regular';
    src: url('./fonts/uni0553-webfont-webfont.eot');
    src: url('./fonts/uni0553-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/uni0553-webfont-webfont.woff2') format('woff2'),
         url('./fonts/uni0553-webfont-webfont.woff') format('woff'),
         url('./fonts/uni0553-webfont-webfont.ttf') format('truetype'),
         url('./fonts/uni0553-webfont-webfont.svg#uni_05_53regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {background:black; font-size:9px; text-transform: uppercase; -webkit-font-smoothing: none; background: url("./img/buttons-bg.gif") top center;}

button {font-size:13px; font-family: 'uni_05_53regular'; font-weight: normal; background-color: black; color:grey; padding:10px; }

div, nav {image-rendering: pixelated;}


#container {
width:500px;
height:500px;
margin: 0 auto;
position: relative;
margin-top:133px;
overflow: hidden;
}

#game { position:relative; }


/*DEBUG*/
.debug-menu {position:absolute;top:0;right:0; display: inline;}



/*SPECIALS*/
.hidden { display:none;}


/*GAME DISPLAY*/
#display {font-family: 'uni_05_53regular' !important;
  position:absolute;top:5px;right:5px;left:5px; border:0 solid black; padding:5px 10px 10px 15px; background:black; font-size: 20px; color: white; font-weight: bold; letter-spacing: 2px;
}

#display span {color:grey;}

#display2 {font-family: 'uni_05_53regular' !important;
  position:absolute;top:5px;right:5px;left:5px; border:0 solid black; padding:5px 10px 10px 15px; background:black; font-size: 20px; color: white; font-weight: bold; letter-spacing: 2px;
z-index:100;}

#display2 span {color:grey;}

/*EFFECTS*/
#effect .effect-default {}



/*PLAYER 1*/
#player1 {position:absolute;top:60px;left:0; width:300px; height:350px; display:inline-block; background-size:cover !important;}
#player1 .weapon {}
#player1 .item {}
#player1 .armour {}
#player1 .head {}
#player1 .body {}
#player1.default {background: url("./img/player1-fighter-default.gif");}
#player1.dead {background:url("./img/player1-dead.gif");}
#player1.attack {background: url("./img/player1-fighter-attack.gif");}
#player1.walk {background: url("./img/player1-fighter-walk.gif");}
#player1.defend {background: url("./img/player1-fighter-defend.gif");}
#player1.useHolySword {background: url("./img/player1-fighter-useholySword.gif");}
#player1.useGreenPotion {background: url("./img/player1-fighter-greenpotion.gif");}
#player1.useRedPotion {background: url("./img/player1-fighter-redpotion.gif");}

.player1-stats {position:absolute;bottom:65px;left:10px; font-size:10px; font-family: 'uni_05_53regular'; font-weight: normal; color:white; width: auto; margin-top:0; margin-bottom:0;}
.player1-stats div {display: block; margin-right:10px;}
.player1-stats .player1-name {float: left;}
.player1-stats .player1-lvl {float:left;}
.player1-stats .player1-hp {font-size:24px; margin-bottom: -10px float:right; display:inline-block;}
.player1-stats .player1-atk {float:left;}
.player1-stats .player1-def {float:left}
.player1-stats .player1-sp {display:inline-block;font-size:16px;}

#player1-inv {position:absolute;bottom:5px;right:5px}
#player1-inv button {background-size:cover !important; height:55px; width:55px;margin-left:5px;}
#player1-inv .redPotion {background:url("./img/item-redPotion.gif")}
#player1-inv .greenPotion {background:url("./img/item-greenPotion.gif")}

#player1-menu {position:absolute;bottom:5px;left:5px; }
#player1-menu button { background-size:cover !important; height:55px; width:55px;margin-right:5px;}
#player1-menu #btn-p1-atk {background:url("./img/ico-p1-atk.gif")}
#player1-menu #btn-p1-atk {background:url("./img/ico-p1-atk.gif")}
#player1-menu #btn-p1-def {background:url("./img/ico-p1-def.gif")}
#player1-menu #btn-p1-spc {background:url("./img/ico-p1-spc.gif")}
#player1-menu #btn-p1-inv {background:url("./img/ico-p1-inv.gif")}

#player1-menu-spc {position:absolute;bottom:5px;right:5px}
#player1-menu-spc button { background-size:cover !important; height:55px; width:55px; margin-left:5px;}
#player1-menu-spc .doubleStrike {background:url("./img/spc-doubleStrike.gif")}
#player1-menu-spc .holySword {background:url("./img/spc-holySword.gif")}

/*MONSTER 1*/
#monster1 {position:absolute;top:60px;right:0; width:300px; height:350px; display:inline-block; background-size:cover !important;}
#monster1.dead {background:url("./img/monster-dead.gif");}
#monster1.Rat {background:url("./img/monster-rat.gif");}
#monster1.Rat.special {background:url("./img/monster-rat-special.gif");}
#monster1.Rat.attack {background:url("./img/monster-rat-attack.gif");}
#monster1.Ghost {background:url("./img/monster-ghost.gif");}
#monster1.Ghost.special {background:url("./img/monster-ghost-special.gif");}
#monster1.Ghost.attack {background:url("./img/monster-ghost-attack.gif");}
#monster1.Skeleton {background:url("./img/monster-skeleton.gif");}
#monster1.Skeleton.special {background:url("./img/monster-skeleton-special.gif");}
#monster1.Skeleton.attack {background:url("./img/monster-skeleton-attack.gif");}
#monster1.Blob {background:url("./img/monster-blob.gif");}
#monster1.Blob.special {background:url("./img/monster-blob-special.gif");}
#monster1.Blob.attack {background:url("./img/monster-blob-attack.gif");}
#monster1.Princess {background:url("./img/monster-princess.gif");}
#monster1.Princess.special {background:url("./img/monster-princess-special.gif");}
#monster1.Princess.attack {background:url("./img/monster-princess-attack.gif");}




.monster1-stats {position:absolute;bottom:65px;right:10px; font-size:10px; font-family: 'uni_05_53regular'; font-weight: normal; color:white; width: auto; margin-top:0; margin-bottom:0;}
.monster1-stats div { margin-left:10px; text-align: right;}
.monster1-stats .monster1-name {float:right;}
.monster1-stats .monster1-lvl {float:right;}
.monster1-hp {font-size:22px; margin-bottom: -2px;display:block;}
.monster1-stats .monster1-atk {float:right; display:hidden !important;}
.monster1-stats .monster1-def {float:right; display:hidden !important;}
.monster1-stats .monster1-sp {float:right; display:hidden !important;}

.monster1-inventory {}

.monster1-menu-spc {position:absolute;bottom:40px;right:160px;}

/*EFFECT*/
#effect {position:absolute;top:60px;left:0; width:500px; height:350px; background-size:cover !important; z-index: 500;}
#effect.default {background:none;}
#effect.effectHolySword {background:url("./img/effect-holysword.gif");}
#effect.effectLightning {background:url("./img/effect-lightning.gif");}
#effect.effectMeteor {background:url("./img/effect-meteor.gif");}
#effect.effectDeathBlade {background:url("./img/effect-deathblade.gif");}



/*STAGE*/
#stage {width:500px;height:500px;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.stage {background:black;}
.stage0 {background: url("./img/stages/stagebg-0.gif");}
.stage1 {background: url("./img/stages/stagebg-1.gif");}
.stage2 {background: url("./img/stages/stagebg-2.gif");;}
.stage3 {background: url("./img/stages/stagebg-3.gif");;}
.stage4 {background: url("./img/stages/stagebg-4.gif");;}
.stage5 {background: url("./img/stages/stagebg-5.gif");;}